//
// Variables
// --------------------------------------------------


//== Colors
$brand-default: #F1F1F1 !default;
$brand-primary: #F8AB37 !default;
$brand-warning: #F83747 !default;
$brand-success:  #37F87B !default;
$brand-info:    #379FF8 !default;

$color-blue:    #2685C7 !default;
