doctype html
html(lang='pt-br')

  head

    title Simple Full Page Scroll

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')

    meta(name='description' content='A Simple Full Page Scroll')

    link(rel='stylesheet', href='assets/stylesheet/application.css')

  body

    div(id="main")
      include _views/section

    script(src="assets/javascript/fullPage.js")
    script(src="assets/javascript/script.js")

